/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav a:hover, nav a:focus {
     border: 2px dotted purple;
}

/*Write selector/rule property to position the default position for the skip class element*/
.skip a {
     position: absolute;
     top: -65px;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus {
  top: 25px;
}

/*Write selector/rule property to style all elements when in focus*/
*:focus {
     outline: none;
     border: 5px dashed green;
}

/*Write selector/rule property to style the container */
.container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     gap: 13px;
}

/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */
.container > *:first-child {
     grid-column: 1 / -1;
     background: url("../images/header.jpg");
     background-repeat: no-repeat;
}

/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine selectors*/

.accounts, .onlinebanking, .security, .loans, .contact {
     display: grid;
     grid-column: 2/5;
}

.accounts, .accounts-image {
     grid-row: 2;
}

.onlinebanking, .onlinebanking-image {
     grid-row: 3;
}

.security, .security-image {
     grid-row: 4;
}

.loans, .loans-image {
     grid-row: 5;
}
 
.contact, .contact-image {
     grid-row: 6;
}

.accounts-image, .onlinebanking-image, .security-image, .loans-image, .contact-image {
     display: grid;
     grid-column: 1/6;
     /* max-height: 675px; */
     overflow: hidden;
     /* when I set the max-height to 675px, it didn't stretch out the image when the window was small, 
     but when I had the min-height set as 675px, it stretched it out. */
}

img {
     width: 100%;
     height: 100%;
     min-height: 675px;
}

/* Step 8: Write the selector/rule property to style the .text-block class. */
.text-block {
    height: fit-content;
    place-self: center;
}

.text-block h2,
.text-block p {
    text-align: center;
}


/* Add your media query here */
@media screen and (min-width: 825px){
  /* Step 10: Write the selector/rule property to style the nav element */

     nav ul {
          text-align: right;
          padding: 35px 0;
     }

  /* Step 11: Write the selector/rule property to update the .container class */
     .container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          gap: 13px;
     }

  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/

     .accounts, .security, .contact {
          grid-column: 4/7;
     }

     .onlinebanking, .loans {
          grid-column: 2/5;
     }

     .accounts-image, .security-image, .contact-image {
          grid-column: 1/6;
     }

     .onlinebanking-image, .loans-image {
          grid-column: 3/8;
     }

 /* Step 16:Write the selector/rule property to update the .text-block class */

     .text-block {
          max-height: 235px;
          overflow: hidden;
     }

}